/* Custom Prop */
:root{
  --bg-color: #effafa;
  --breaker-bay-color: #5ca5a5;
  --block-color: #2b3939;
  --blue-smoke: #7c8f8f;

}

/* GLOBAL STYLES */

html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var();
  color: var();
}

img{
  max-width: 100%;
  height: auto;
}


/* CONTAINER*/
.container{
  width: 100%;
  max-width: 1366px;
  padding-left: 128px;
  padding-right: 128px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */
.main-content{
  flex-grow: 1;
}

.job__list_wrapper {
}

.job__list_header {
  width: 1336px;
  height: 156px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  background-image: url(/icons/header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  content:"";
}

.job__list_mainsection {
  padding-top: 76px;
  padding-bottom: 120px;
}

.job__list_item {
  display: flex;
  align-items: center;
  padding: 32px 40px;
}
.item__img {
  width: 88px;
  height: 88px;
  padding: 0;
  margin: 0;
  object-fit: cover;
  margin-right: 24px;
  border-radius: 50%;
}

.item__status {
  width: 265px;
  padding: 0;
  margin: 0;
}
.item__nickname {
  margin-right: 24px;
  font-family: "Spartan" sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: var(--breaker-bay-color);

}
.item__new {
  padding: 6px 8px;
  margin-right: 24px;
  font-size: 11px;
  font-weight: 700;
  font-family: "Spartan" sans-serif;
  color: #fff;
  border-radius: 12px;
  background-color: var(--breaker-bay-color);
  text-transform: uppercase;
}
.item__feature {
  padding: 6px 8px;
  font-size: 11px;
  font-weight: 700;
  background-color: var(--block-color);
  color: #fff;
  border-radius: 12px;
  text-transform: uppercase;
}
.item__title {
  padding: 0;
  padding-top: 12px;
  padding-bottom: 8px;
  margin: 0;
  font-size: 18px;
  font-family: "Spartan" sans-serif;
  font-weight: 700;
  color: var(--block-color);
}
.working__condition_list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.working__condition_list:not(:first-child){

}

.working-condition-info{
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: var(--blue-smoke);

}

.working-condition-info:not(:last-child){
  margin-right: 36px;
}


.user__last_seen {
  list-style: none;
}

.user__work_time{

}


.user__work_place {
}
.user__language_skills {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.user__laguage_skills-item {
  list-style: none;
  padding: 4px 8px;
  font-family: "Spartan" sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  color: var(--breaker-bay-color);
  background-color: var(--bg-color);
  border-radius: 4px;
  object-fit: cover;
}

.user__language_skill-link{
  object-fit: cover;
text-decoration: none;
color: var(--breaker-bay-color);
}

.user__laguage_skills-item:not(:last-child){
  margin-right: 16px;
}
